<html ng-app>
	<head>
		<title>Task 2</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	</head>
	<body ng-controller='CityController' Cross-Origin Resource Sharing>
		<h1>City Weather Information</h1>
		<div ng-repeat='city in citiesStats'>
			<span>City:</span>
			<input ng-model='city.name' value='city.name'>
			<button ng-click="updateCity($index)">Update</button>
			<div>Country: {{city.sys.country}} </div>
			<div>Temperature: {{city.main.temp}} C</div>
			<div>Humidity: {{city.main.humidity}} %</div>
			<div>Wind Speed: {{city.wind.speed}} mph</div>
			<div>Cloudiness: {{city.clouds.all}} %</div>
			<br/>
		</div>
		<div>
			<div>The average temperature is {{averageTemperature}} and the hottest city is {{highestTemperature}}</div>
			<div>The average temperature is {{averageHumidity}} and the hottest city is {{highestHumidity}}</div>
		</div>
		<script src="main.js"></script>

	</body>
</html>